.document-upload-section {
    margin: 2rem;
}

.input-section {
    margin-top: 25px;
}

.dropzone {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: calc(min(90vw, 500px));
    padding-block: 3rem;
    text-align: center;
    cursor: pointer;
}

.dropzone.active {
    border-color: #007bff; /* Highlight when dragging */
}

.upload-status {
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 10px;
    display: inline;
    font-size: 15px;
}

.upload-status.success {
    color: green;
    background-color: lightgreen;
}

.upload-status.error {
    color: red;
    background-color: rgb(255, 198, 198);
}

.upload-status.uploading {
    color: darkorange;
    background-color: lightgoldenrodyellow;
}


.upload-button {
    margin-top: 25px;
    padding: 10px 15px;
    background-color: #ff7300;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.upload-button:hover {
    background-color: #ff7300;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
