html, body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    height: 100%;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
}
